body{
    margin: 0 auto;
    background-color: #0b0b2c;
    color: #d5d500;
    font-family: "Roboto", sans-serif;
}
form{
    padding: 20px;
    margin-top: 40px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #F4F7F8;
    color: black;
    border-radius: 10px;
}
input{
    display: inline-block;  
    margin-bottom: 15px;
    width: 100%;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 10px;
}
.delete-btn{
    margin-right: 15px;
    margin-left: 10px;
}
.tables{
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 32px;
    text-align: center;

}
.add-btn{
    width: 100%;
    margin-top: 15px;
}